* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    /* letter-spacing: normal; */
}

.spacex-logo {
    width: 75pxpx;
    height: 75px;
    float: left;
    margin-left: 20px;
}

.navigation {
    width: 100%;
    height: 10vh;
}

.navigation-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation-item a {
    display: block;
    width: auto;
    height: 50px;
    padding: 20px;
    margin-top: 12px;
    text-align: center;
    /* border: 1px chartreuse solid; */
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.navigation-item a:hover {
    text-decoration: underline;
}

.site-hero {
    height: 90vh;
    background: url('https://i.redd.it/vyk2ghew3c251.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    filter: grayscale(80%) sepia(40%);
}

.launch {
    position: absolute;
    bottom: 90px;
    margin-left: 40px;
}
.launch p {
    margin: 20px 0 10px 0;
}
.launch h2{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 60px;
}
.launch a {
    margin: 20px 0;
    border: 1.5px white solid;
    background-color: none;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 15px 50px;
}

.launch a:hover {
    background-color: white;
    color: black;
}


.container {
    display: block;
    float: right;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}